In [1]:
# libraries for numerical
import pandas as pd  
import numpy as np

# libraries for visualization
import matplotlib.pyplot as plt  
import seaborn as sns

# libraries for machine learning
from sklearn.model_selection import train_test_split 
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import mean_squared_error, r2_score, f1_score
from sklearn import metrics

# to plot the diagrams within the cells
%matplotlib inline

In [57]:
train_data = pd.read_csv('TRAIN.csv')
test_data = pd.read_csv('TEST.csv')

In [58]:
train_data.head()

,id,Gender,Age,Driving_License,Region_Code,Previously_Insured,Vehicle_Age,Vehicle_Damage,Annual_Premium,Policy_Sales_Channel,Vintage,Response
0,350957,Male,50,1,41,0,1-2 Year,Yes,35915,124,240,0
1,239788,Female,48,1,28,0,1-2 Year,Yes,26873,124,274,0
2,348272,Female,34,1,41,0,1-2 Year,Yes,2630,156,138,1
3,73940,Female,43,1,28,0,1-2 Year,Yes,46877,124,223,0
4,292871,Male,29,1,28,1,< 1 Year,No,38009,152,106,0

In [59]:
train_data.isnull().sum()

id                      0
Gender                  0
Age                     0
Driving_License         0
Region_Code             0
Previously_Insured      0
Vehicle_Age             0
Vehicle_Damage          0
Annual_Premium          0
Policy_Sales_Channel    0
Vintage                 0
Response                0
dtype: int64

In [60]:
train_data.describe()

,id,Age,Driving_License,Region_Code,Previously_Insured,Annual_Premium,Policy_Sales_Channel,Vintage,Response
count,304887.000000,304887.000000,304887.000000,304887.000000,304887.000000,304887.000000,304887.000000,304887.000000,304887.000000
mean,190464.686973,38.832545,0.997875,26.381348,0.458435,30567.921318,112.021946,154.293105,0.122357
std,109998.823015,15.520667,0.046053,13.235034,0.498270,17255.545191,54.212188,83.713258,0.327698
min,1.000000,20.000000,0.000000,0.000000,0.000000,2630.000000,1.000000,10.000000,0.000000
25%,95183.500000,25.000000,1.000000,15.000000,0.000000,24409.000000,29.000000,82.000000,0.000000
50%,190485.000000,36.000000,1.000000,28.000000,0.000000,31673.000000,133.000000,154.000000,0.000000
75%,285642.500000,49.000000,1.000000,35.000000,1.000000,39393.000000,152.000000,227.000000,0.000000
max,381108.000000,85.000000,1.000000,52.000000,1.000000,540165.000000,163.000000,299.000000,1.000000

In [61]:
train_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 304887 entries, 0 to 304886
Data columns (total 12 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   id                    304887 non-null  int64
 1   Gender                304887 non-null  object
 2   Age                   304887 non-null  int64
 3   Driving_License       304887 non-null  int64
 4   Region_Code           304887 non-null  int64
 5   Previously_Insured    304887 non-null  int64
 6   Vehicle_Age           304887 non-null  object
 7   Vehicle_Damage        304887 non-null  object
 8   Annual_Premium        304887 non-null  int64
 9   Policy_Sales_Channel  304887 non-null  int64
 10  Vintage               304887 non-null  int64
 11  Response              304887 non-null  int64
dtypes: int64(9), object(3)
memory usage: 27.9+ MB

In [62]:
train_data['Gender'].value_counts()

Male      164823
Female    140064
Name: Gender, dtype: int64

In [63]:
Gender_map  = {'Male':1,
                'Female':2}
train_data['Gender'] = train_data.Gender.map(Gender_map)
train_data.Gender.value_counts()

1    164823
2    140064
Name: Gender, dtype: int64

In [64]:
test_data['Gender'] = test_data.Gender.map(Gender_map)
test_data.Gender.value_counts()

1    41266
2    34956
Name: Gender, dtype: int64

In [65]:
train_data['Vehicle_Age'].value_counts()

1-2 Year     160244
< 1 Year     131823
> 2 Years     12820
Name: Vehicle_Age, dtype: int64

In [66]:
Vehicle_map  = {'1-2 Year':1,
                '< 1 Year':2,
                '> 2 Years':3}
train_data['Vehicle_Age'] = train_data.Vehicle_Age.map(Vehicle_map)
train_data.Vehicle_Age.value_counts()

1    160244
2    131823
3     12820
Name: Vehicle_Age, dtype: int64

In [67]:
test_data['Vehicle_Age'] = test_data.Vehicle_Age.map(Vehicle_map)
test_data.Vehicle_Age.value_counts()

1    40072
2    32963
3     3187
Name: Vehicle_Age, dtype: int64

In [68]:
train_data['Vehicle_Damage'].value_counts()

Yes    153897
No     150990
Name: Vehicle_Damage, dtype: int64

In [69]:
Vehicle_damage_map  = {'Yes':1,
                       'No':0}
train_data['Vehicle_Damage'] = train_data.Vehicle_Damage.map(Vehicle_damage_map)
train_data.Vehicle_Damage.value_counts()

1    153897
0    150990
Name: Vehicle_Damage, dtype: int64

In [70]:
Vehicle_damage_map  = {'Yes':1,
                       'No':0}
test_data['Vehicle_Damage'] = test_data.Vehicle_Damage.map(Vehicle_damage_map)
test_data.Vehicle_Damage.value_counts()

1    38516
0    37706
Name: Vehicle_Damage, dtype: int64

In [71]:
train_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 304887 entries, 0 to 304886
Data columns (total 12 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   id                    304887 non-null  int64
 1   Gender                304887 non-null  int64
 2   Age                   304887 non-null  int64
 3   Driving_License       304887 non-null  int64
 4   Region_Code           304887 non-null  int64
 5   Previously_Insured    304887 non-null  int64
 6   Vehicle_Age           304887 non-null  int64
 7   Vehicle_Damage        304887 non-null  int64
 8   Annual_Premium        304887 non-null  int64
 9   Policy_Sales_Channel  304887 non-null  int64
 10  Vintage               304887 non-null  int64
 11  Response              304887 non-null  int64
dtypes: int64(12)
memory usage: 27.9 MB

In [72]:
train_data.head()

,id,Gender,Age,Driving_License,Region_Code,Previously_Insured,Vehicle_Age,Vehicle_Damage,Annual_Premium,Policy_Sales_Channel,Vintage,Response
0,350957,1,50,1,41,0,1,1,35915,124,240,0
1,239788,2,48,1,28,0,1,1,26873,124,274,0
2,348272,2,34,1,41,0,1,1,2630,156,138,1
3,73940,2,43,1,28,0,1,1,46877,124,223,0
4,292871,1,29,1,28,1,2,0,38009,152,106,0

In [73]:
dum_data = test_data.copy()
train_data.drop(['id', 'Gender'], axis=1, inplace=True)
test_data.drop(['id', 'Gender'], axis=1, inplace=True)

In [74]:
X = train_data.drop('Response', axis=1)
y = train_data['Response']

In [75]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2, random_state = 9)

In [76]:
from sklearn.ensemble import RandomForestClassifier
model = RandomForestClassifier(criterion='gini', n_estimators=27)
model.fit(X_train, y_train)

RandomForestClassifier(n_estimators=27)

In [77]:
model.score(X_test, y_test)

0.8634261536947752

In [78]:
prediction = model.predict(X_test)
prediction

array([0, 0, 0, ..., 0, 1, 0], dtype=int64)

In [79]:
rfc_prediction = model.predict(test_data)
rfc_prediction

array([0, 0, 0, ..., 0, 0, 0], dtype=int64)

In [80]:
output_csv =pd.DataFrame()
output_csv["id"] = dum_data["id"]
output_csv["Response"] = pd.DataFrame(rfc_prediction)

In [81]:
output_csv["Response"].unique()
output_csv.to_csv("output_csv.csv")

In [ ]:
import numpy as np
from sklearn.model_selection import RandomizedSearchCV
# Number of trees in random forest
n_estimators = [int(x) for x in np.linspace(start = 200, stop = 2000, num = 10)]
# Number of features to consider at every split
max_features = ['auto', 'sqrt','log2']
# Maximum number of levels in tree
max_depth = [int(x) for x in np.linspace(10, 1000,10)]
# Minimum number of samples required to split a node
min_samples_split = [2, 5, 10,14]
# Minimum number of samples required at each leaf node
min_samples_leaf = [1, 2, 4,6,8]
# Create the random grid
random_grid = {'n_estimators': n_estimators,
               'max_features': max_features,
               'max_depth': max_depth,
               'min_samples_split': min_samples_split,
               'min_samples_leaf': min_samples_leaf,
              'criterion':['entropy','gini']}
print(random_grid)

In [ ]:
rf=RandomForestClassifier()
rf_randomcv=RandomizedSearchCV(estimator=rf,param_distributions=random_grid,n_iter=100,cv=3,verbose=2,
                               random_state=100,n_jobs=-1)
### fit the randomized model
rf_randomcv.fit(X_train,y_train)

In [ ]:
rf_randomcv.best_params_

In [ ]:
rf_randomcv

In [ ]:
best_random_grid=rf_randomcv.best_estimator_

In [ ]:
best_random_grid

In [ ]:
from sklearn.metrics import accuracy_score
y_pred=best_random_grid.predict(X_test)
print(confusion_matrix(y_test,y_pred))
print("Accuracy Score {}".format(accuracy_score(y_test,y_pred)))
print("Classification report: {}".format(classification_report(y_test,y_pred)))

In [ ]:
best_random_grid.score(X_test, y_test)

In [ ]:
y_pred = best_random_grid.predict(test_data)
y_pred

In [ ]:
output_csv =pd.DataFrame()
output_csv["id"] = test_data["id"]
output_csv["Response"] = pd.DataFrame(rfc_prediction)
output_csv["Response"].unique()
output_csv.to_csv("output_rscv_csv.csv")