In [1]:
import pandas as pd
import pandas as np
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import KFold
from sklearn.preprocessing import LabelEncoder
from sklearn.pipeline import Pipeline

In [2]:
df = pd.read_csv('new_train.csv')
df.head()

,Date,Open-Stock-1,High-Stock-1,Low-Stock-1,Close-Stock-1,VWAP-Stock-1,Volume-Stock-1,Turnover-Stock-1,Open-Stock-2,High-Stock-2,...,VWAP-Stock-4,Volume-Stock-4,Turnover-Stock-4,Open-Stock-5,High-Stock-5,Low-Stock-5,Close-Stock-5,VWAP-Stock-5,Volume-Stock-5,Turnover-Stock-5
0,2010-06-01,1889.7,1890.00,1838.00,1855.10,1855.75,568273,105457457545000,285.40,285.95,...,844.44,3878011,327474904340000,1235.0,1238.00,1177.0,1181.70,1197.29,1786082,213845404410000
1,2010-06-02,1848.0,1862.75,1828.00,1853.05,1842.82,945167,174177161135000,284.00,284.80,...,838.31,3320996,278403743240000,1195.0,1206.95,1168.5,1201.15,1189.87,1307410,155564994855000
2,2010-06-03,1864.1,1910.00,1864.10,1905.60,1893.91,679689,128727119355000,283.00,286.85,...,853.51,2494522,212910342645000,1211.0,1248.00,1211.0,1242.30,1231.63,1482919,182640434320000
3,2010-06-04,1906.0,1909.80,1880.10,1885.70,1889.21,509435,96242800140000,288.85,291.80,...,862.85,2963920,255740999120000,1240.0,1258.00,1240.0,1245.45,1249.72,1454459,181767075850000
4,2010-06-07,1867.0,1894.85,1808.35,1876.65,1873.32,961913,180196832650000,285.00,289.10,...,839.89,3471483,291567400640000,1218.6,1225.00,1196.0,1214.80,1209.27,1424594,172272511430000

In [3]:
inputs1=pd.DataFrame(df, columns = ["Open-Stock-1","High-Stock-1","Low-Stock-1","VWAP-Stock-1","Volume-Stock-1","Turnover-Stock-1"])
target1=pd.DataFrame(df, columns = ["Close-Stock-1"])
inputs1

,Open-Stock-1,High-Stock-1,Low-Stock-1,VWAP-Stock-1,Volume-Stock-1,Turnover-Stock-1
0,1889.70,1890.00,1838.00,1855.75,568273,105457457545000
1,1848.00,1862.75,1828.00,1842.82,945167,174177161135000
2,1864.10,1910.00,1864.10,1893.91,679689,128727119355000
3,1906.00,1909.80,1880.10,1889.21,509435,96242800140000
4,1867.00,1894.85,1808.35,1873.32,961913,180196832650000
...,...,...,...,...,...,...
294,499.50,499.50,484.60,489.79,5354489,262255417380000
295,489.90,489.90,481.10,485.65,2997667,145582296035000
296,493.45,495.95,484.50,489.14,2202354,107726909450000
297,487.90,487.90,480.00,483.30,1982494,95814144795000
298,478.70,489.40,476.00,481.89,2082567,100357122620000

In [4]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(inputs1,target1,test_size=0.25, random_state = 9)

In [5]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler() 
x_train = scaler.fit_transform(X_train) 
x_test = scaler.transform(X_test)

In [7]:
from sklearn.metrics import mean_squared_error
from sklearn.ensemble import GradientBoostingRegressor
from sklearn.model_selection import RandomizedSearchCV, GridSearchCV
from sklearn.linear_model import LinearRegression, LogisticRegression

### Build model with GradientBoostingRegressor

In [55]:
reg = GradientBoostingRegressor(random_state=9)

In [56]:
reg.fit(x_train, y_train.values.ravel())

GradientBoostingRegressor(random_state=9)

In [57]:
reg.score(x_test, y_test)

0.9982950053051273

In [58]:
y_pred=reg.predict(x_test)
y_pred

array([2391.79296791, 2389.85787386, 2375.15032664, 2048.1464879 ,
       2332.79037611,  506.78412875, 2095.13877685, 2319.44458574,
       2184.8020493 , 2287.84120307, 2508.89700137, 2306.39706113,
       2476.83764304, 2326.98261291, 2469.49558544, 2348.08695302,
       2000.33183235, 2044.8961766 , 2046.22816884, 2203.13455676,
       2028.80911491, 2101.79673658, 2044.49392747, 2204.27530718,
       2310.2596733 , 2202.24666509, 2537.98314788, 2388.54716597,
       2097.76299051,  484.61531972, 2344.23220278, 1864.18158206,
       2097.40220874, 2001.62470881, 2483.10796859, 2305.47262477,
       2336.71750628,  513.23505827, 2346.01565656, 2205.17542229,
       2348.03608998, 2207.25570846, 2205.9999474 , 2483.10796859,
       2431.37781386, 2551.43259406, 2072.1693384 , 2500.92884455,
       2047.20319097, 2365.36846797,  492.52594566, 2231.85698981,
       2048.39940833, 2502.79112013, 2183.83051613, 2392.46293717,
       2127.20975248, 2179.19285037, 2202.37813976, 2182.39909326,
       2087.61099282, 2085.99619566, 2102.97905799, 2390.11537263,
       2295.63964264, 2324.4036065 , 2267.10807661, 2192.32904025,
       2338.68537947, 2475.14932828, 1882.87279714, 2114.77071478,
       2346.39407279, 2323.82888376, 2363.53726559])

In [59]:
mean_squared_error(y_test.values.ravel(), y_pred)

306.47800826905336

In [72]:
mean_squared_error(y_test.values.ravel(), y_pred, squared=False)

17.506513309881363

### Build Model with LinearRegression

In [58]:
lm = LinearRegression()
lm.fit(x_train, y_train.values.ravel())

LinearRegression()

In [59]:
lm.score(x_test, y_test)

0.9992839651206883

In [61]:
mean_squared_error(y_test.values.ravel(), y_pred)

128.70945834760852

In [62]:
mean_squared_error(y_test.values.ravel(), y_pred, squared=False)

11.34501909860043

In [63]:
y_pred=lm.predict(x_test)
y_pred

array([2384.54912975, 2385.71769842, 2368.57785915, 2051.11856721,
       2351.41817665,  514.0818187 , 2104.32898863, 2329.75114205,
       2166.84584531, 2273.84199689, 2516.4353332 , 2306.15049621,
       2467.00038004, 2336.90341913, 2468.16375542, 2345.85879853,
       1990.93050796, 2042.46337994, 2043.90757243, 2198.85623421,
       2033.04001376, 2120.36812695, 2047.41678682, 2208.31321552,
       2320.73077755, 2193.03641366, 2532.86567221, 2397.95619657,
       2075.92628487,  482.91559814, 2339.38325119, 1862.81863707,
       2096.68482271, 1996.78736988, 2455.01892397, 2307.75697452,
       2342.8309517 ,  506.22020776, 2346.21695164, 2211.96887755,
       2364.95545307, 2208.65673299, 2223.496445  , 2467.38149816,
       2429.53653302, 2564.92172793, 2064.35880637, 2500.46998278,
       2046.44718404, 2367.27718534,  489.45399952, 2231.89681633,
       2050.66449406, 2475.15658216, 2187.35116694, 2385.23825175,
       2134.75701709, 2187.15221543, 2185.02932594, 2194.20351875,
       2090.76476338, 2077.3069871 , 2098.23483314, 2387.86469304,
       2282.23625509, 2336.16862844, 2259.78303997, 2209.69102348,
       2341.44879422, 2463.09771965, 1875.78621448, 2130.89984077,
       2347.247011  , 2328.8295572 , 2362.36802279])

In [64]:
dft=pd.read_csv("new_test.csv")
dft.head()

,Date,Open-Stock-1,High-Stock-1,Low-Stock-1,VWAP-Stock-1,Volume-Stock-1,Turnover-Stock-1,Open-Stock-2,High-Stock-2,Low-Stock-2,...,Low-Stock-4,VWAP-Stock-4,Volume-Stock-4,Turnover-Stock-4,Open-Stock-5,High-Stock-5,Low-Stock-5,VWAP-Stock-5,Volume-Stock-5,Turnover-Stock-5
0,2011-08-04,484.1,488.90,475.00,481.00,1829606,88003633160000,204.90,206.75,199.20,...,990.00,1003.31,2716435,272542181190000,1303.6,1312.8,1281.00,1297.04,1569675,203593328285000
1,2011-08-05,465.0,475.80,457.10,469.56,3156094,148196817355000,195.00,198.00,190.50,...,950.00,961.50,4644498,446567961345000,1245.0,1252.5,1200.00,1229.09,3125692,384176649890000
2,2011-08-08,463.0,480.00,458.05,465.04,4308373,200357861965000,193.90,197.80,189.65,...,933.40,953.24,3450619,328925252905000,1205.2,1265.8,1200.55,1232.93,1660178,204687918340000
3,2011-08-09,450.0,473.55,449.85,460.88,4490924,206978212685000,190.25,202.10,190.10,...,910.45,938.80,5346085,501890604795000,1190.5,1238.3,1180.90,1206.06,3618186,436376441205000
4,2011-08-10,494.8,494.80,473.40,478.06,3267226,156192368225000,202.00,202.85,196.00,...,957.70,964.75,3379659,326053305165000,1242.0,1253.7,1225.30,1242.10,1903396,236421421150000

In [65]:
dft1=pd.DataFrame(dft, columns = ["Open-Stock-1","High-Stock-1","Low-Stock-1","VWAP-Stock-1","Volume-Stock-1","Turnover-Stock-1"])
xt1_train = scaler.fit_transform(dft1)
yt1_pred=lm.predict(xt1_train)

In [66]:
dft2=pd.DataFrame(dft, columns = ["Open-Stock-2","High-Stock-2","Low-Stock-2","VWAP-Stock-2","Volume-Stock-2","Turnover-Stock-2"])
xt2_train = scaler.fit_transform(dft2) 
yt2_pred=lm.predict(xt2_train)

In [67]:
dft3=pd.DataFrame(dft, columns = ["Open-Stock-3","High-Stock-3","Low-Stock-3","VWAP-Stock-3","Volume-Stock-3","Turnover-Stock-3"])
xt3_train = scaler.fit_transform(dft3) 
yt3_pred=lm.predict(xt3_train)

In [68]:
dft4=pd.DataFrame(dft, columns = ["Open-Stock-4","High-Stock-4","Low-Stock-4","VWAP-Stock-4","Volume-Stock-4","Turnover-Stock-4"])
xt4_train = scaler.fit_transform(dft4) 
yt4_pred=lm.predict(xt4_train)

In [69]:
dft5=pd.DataFrame(dft, columns = ["Open-Stock-5","High-Stock-5","Low-Stock-5","VWAP-Stock-5","Volume-Stock-5","Turnover-Stock-5"])
xt5_train = scaler.fit_transform(dft5) 
yt5_pred=lm.predict(xt5_train)

In [70]:
frame = { 'Date': dft["Date"], 'Close-Stock-1':yt1_pred,'Close-Stock-2':yt2_pred,'Close-Stock-3':yt3_pred,'Close-Stock-4':yt4_pred,'Close-Stock-5':yt5_pred}
result = pd.DataFrame(frame)

In [71]:
result.to_csv("output.csv",index=False)

### Apply RandomizedSearchCV in GradientBoostingRegressor

In [20]:
def print_results(results):
    print('BEST PARAMS: {}\n'.format(results.best_params_))

    means = results.cv_results_['mean_test_score']
    stds = results.cv_results_['std_test_score']
    for mean, std, params in zip(means, stds, results.cv_results_['params']):
        print('{} (+/-{}) for {}'.format(round(mean, 3), round(std * 2, 3), params))

In [21]:
gbc = GradientBoostingRegressor()
parameters = {
    'n_estimators': [5, 50, 100, 150, 250],
    'max_depth': [2, 3, 4, 8, 16, 32, None],
    'learning_rate': [0.03, 0.1, 0.3, 1]
}
rs = RandomizedSearchCV(gbc, parameters, cv=5,n_iter=20)
rs.fit(x_train, y_train)

RandomizedSearchCV(cv=5, estimator=GradientBoostingRegressor(), n_iter=20,
                   param_distributions={'learning_rate': [0.03, 0.1, 0.3, 1],
                                        'max_depth': [2, 3, 4, 8, 16, 32, None],
                                        'n_estimators': [5, 50, 100, 150, 250]})

In [22]:
print_results(rs)

BEST PARAMS: {'n_estimators': 150, 'max_depth': None, 'learning_rate': 0.3}

0.997 (+/-0.003) for {'n_estimators': 150, 'max_depth': None, 'learning_rate': 0.3}
0.985 (+/-0.043) for {'n_estimators': 100, 'max_depth': 16, 'learning_rate': 0.03}
0.997 (+/-0.004) for {'n_estimators': 100, 'max_depth': None, 'learning_rate': 1}
0.962 (+/-0.027) for {'n_estimators': 5, 'max_depth': 8, 'learning_rate': 0.3}
0.997 (+/-0.004) for {'n_estimators': 5, 'max_depth': None, 'learning_rate': 1}
0.991 (+/-0.023) for {'n_estimators': 50, 'max_depth': 8, 'learning_rate': 0.1}
0.997 (+/-0.003) for {'n_estimators': 100, 'max_depth': None, 'learning_rate': 0.3}
0.987 (+/-0.041) for {'n_estimators': 250, 'max_depth': 3, 'learning_rate': 0.1}
0.991 (+/-0.027) for {'n_estimators': 150, 'max_depth': 3, 'learning_rate': 0.03}
0.992 (+/-0.011) for {'n_estimators': 100, 'max_depth': 4, 'learning_rate': 1}
0.99 (+/-0.027) for {'n_estimators': 150, 'max_depth': 2, 'learning_rate': 0.03}
0.966 (+/-0.004) for {'n_estimators': 5, 'max_depth': 4, 'learning_rate': 0.3}
0.991 (+/-0.027) for {'n_estimators': 50, 'max_depth': 3, 'learning_rate': 0.1}
0.228 (+/-0.045) for {'n_estimators': 5, 'max_depth': 16, 'learning_rate': 0.03}
0.219 (+/-0.041) for {'n_estimators': 5, 'max_depth': 3, 'learning_rate': 0.03}
0.992 (+/-0.011) for {'n_estimators': 150, 'max_depth': 4, 'learning_rate': 1}
0.997 (+/-0.002) for {'n_estimators': 50, 'max_depth': 16, 'learning_rate': 1}
0.989 (+/-0.034) for {'n_estimators': 250, 'max_depth': 8, 'learning_rate': 0.1}
0.997 (+/-0.003) for {'n_estimators': 50, 'max_depth': None, 'learning_rate': 0.3}
0.988 (+/-0.036) for {'n_estimators': 250, 'max_depth': None, 'learning_rate': 0.03}

In [23]:
rs.best_score_

0.9973358010012777

In [24]:
rs.best_estimator_

GradientBoostingRegressor(learning_rate=0.3, max_depth=None, n_estimators=150)

In [25]:
reg = GradientBoostingRegressor(learning_rate=1, max_depth=16, n_estimators=250, random_state=9)
reg.fit(x_train, y_train)

GradientBoostingRegressor(learning_rate=1, max_depth=16, n_estimators=250,
                          random_state=9)

In [26]:
reg.score(x_test, y_test)

0.9979967027745396

In [37]:
y_pred = reg.predict(x_test)
y_pred

array([2391.75, 2390.5 , 2360.3 , 2060.95, 2333.75,  510.85, 2107.  ,
       2333.75, 2162.9 , 2290.15, 2515.55, 2305.15, 2470.75, 2333.75,
       2470.75, 2343.  , 1991.7 , 2047.85, 2047.85, 2214.75, 2039.6 ,
       2126.9 , 2038.95, 2190.95, 2305.15, 2208.4 , 2541.15, 2386.25,
       2109.35,  482.85, 2349.2 , 1880.9 , 2100.6 , 2002.85, 2489.1 ,
       2305.15, 2349.3 ,  503.1 , 2367.05, 2196.6 , 2345.55, 2192.25,
       2206.05, 2489.1 , 2416.15, 2559.15, 2073.15, 2500.75, 2047.85,
       2356.75,  488.  , 2218.25, 2047.85, 2500.75, 2193.95, 2395.75,
       2122.45, 2201.7 , 2190.95, 2200.8 , 2086.1 , 2109.35, 2109.35,
       2391.75, 2297.25, 2326.65, 2254.3 , 2176.1 , 2351.65, 2470.75,
       1880.9 , 2121.05, 2346.35, 2326.65, 2372.6 ])

### Apply with XGBoost

In [72]:
import xgboost as xg 
from sklearn.model_selection import train_test_split

ModuleNotFoundError: No module named 'xgboost'

In [27]:
dft=pd.read_csv("new_test.csv")
dft.head()

,Date,Open-Stock-1,High-Stock-1,Low-Stock-1,VWAP-Stock-1,Volume-Stock-1,Turnover-Stock-1,Open-Stock-2,High-Stock-2,Low-Stock-2,...,Low-Stock-4,VWAP-Stock-4,Volume-Stock-4,Turnover-Stock-4,Open-Stock-5,High-Stock-5,Low-Stock-5,VWAP-Stock-5,Volume-Stock-5,Turnover-Stock-5
0,2011-08-04,484.1,488.90,475.00,481.00,1829606,88003633160000,204.90,206.75,199.20,...,990.00,1003.31,2716435,272542181190000,1303.6,1312.8,1281.00,1297.04,1569675,203593328285000
1,2011-08-05,465.0,475.80,457.10,469.56,3156094,148196817355000,195.00,198.00,190.50,...,950.00,961.50,4644498,446567961345000,1245.0,1252.5,1200.00,1229.09,3125692,384176649890000
2,2011-08-08,463.0,480.00,458.05,465.04,4308373,200357861965000,193.90,197.80,189.65,...,933.40,953.24,3450619,328925252905000,1205.2,1265.8,1200.55,1232.93,1660178,204687918340000
3,2011-08-09,450.0,473.55,449.85,460.88,4490924,206978212685000,190.25,202.10,190.10,...,910.45,938.80,5346085,501890604795000,1190.5,1238.3,1180.90,1206.06,3618186,436376441205000
4,2011-08-10,494.8,494.80,473.40,478.06,3267226,156192368225000,202.00,202.85,196.00,...,957.70,964.75,3379659,326053305165000,1242.0,1253.7,1225.30,1242.10,1903396,236421421150000

In [28]:
dft1=pd.DataFrame(dft, columns = ["Open-Stock-1","High-Stock-1","Low-Stock-1","VWAP-Stock-1","Volume-Stock-1","Turnover-Stock-1"])

In [29]:
xt1_train = scaler.fit_transform(dft1)

In [30]:
yt1_pred=reg.predict(xt1_train)

In [31]:
dft2=pd.DataFrame(dft, columns = ["Open-Stock-2","High-Stock-2","Low-Stock-2","VWAP-Stock-2","Volume-Stock-2","Turnover-Stock-2"])
xt2_train = scaler.fit_transform(dft2) 
yt2_pred=reg.predict(xt2_train)

In [32]:
dft3=pd.DataFrame(dft, columns = ["Open-Stock-3","High-Stock-3","Low-Stock-3","VWAP-Stock-3","Volume-Stock-3","Turnover-Stock-3"])
xt3_train = scaler.fit_transform(dft3) 
yt3_pred=reg.predict(xt3_train)

In [33]:
dft4=pd.DataFrame(dft, columns = ["Open-Stock-4","High-Stock-4","Low-Stock-4","VWAP-Stock-4","Volume-Stock-4","Turnover-Stock-4"])
xt4_train = scaler.fit_transform(dft4) 
yt4_pred=reg.predict(xt4_train)

In [34]:
dft5=pd.DataFrame(dft, columns = ["Open-Stock-5","High-Stock-5","Low-Stock-5","VWAP-Stock-5","Volume-Stock-5","Turnover-Stock-5"])
xt5_train = scaler.fit_transform(dft5) 
yt5_pred=reg.predict(xt5_train)

In [35]:
frame = { 'Date': dft["Date"], 'Close-Stock-1':yt1_pred,'Close-Stock-2':yt2_pred,'Close-Stock-3':yt3_pred,'Close-Stock-4':yt4_pred,'Close-Stock-5':yt5_pred}
result = pd.DataFrame(frame)

In [36]:
result.to_csv("output.csv",index=False)