In [1]:
# libraries for numerical
import pandas as pd  
import numpy as np

# libraries for visualization
import matplotlib.pyplot as plt  
import seaborn as sns

# libraries for machine learning
from sklearn.model_selection import train_test_split 
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import mean_squared_error, r2_score
from sklearn import metrics

# to plot the diagrams within the cells
%matplotlib inline

In [64]:
train_data = pd.read_csv("https://raw.githubusercontent.com/dphi-official/Datasets/master/hippocorpus/train_set_label.csv" )
train_data.head(2).T

,0,1
AssignmentId,39DD6S19JQXBBJGPFEBWSF4G1TQEZJ,3WQQ9FUS6BGYKK3IWX9TEN1R8RLB87
WorkTimeInSeconds,1025,1987
WorkerId,YGROBIBW,KK89LEHY
annotatorAge,35,35
annotatorGender,Man,woman
annotatorRace,white,indian
distracted,one,one
draining,3.0,5.0
frequency,2,3
importance,3,5
logTimeSinceEvent,4.09434,5.01064
mainEvent,my friend's death and how our group of friends...,the loss of my father and the impact he had on...
mostSurprising,the mourning process had a kind of positive si...,he died very suddenly and within minutes
openness,0.375,0.625
recAgnPairId,3RKNTXVS3NKSI9BOEGJK201G4H2A46,NaN
recImgPairId,NaN,3WQQ9FUS6BGYKK3IWX9TEN1R8RLB87
similarity,NaN,NaN
similarityReason,NaN,NaN
story,We were friends from high school. I got a call...,"Five months ago, my father passed away from a ..."
stressful,3,2
summary,my friend's death. Old friends reunited to sha...,"My dad, who was a significant person in my lif..."
timeSinceEvent,60,150
memType,retold,recalled

In [65]:
train_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6797 entries, 0 to 6796
Data columns (total 23 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   AssignmentId       6797 non-null   object
 1   WorkTimeInSeconds  6797 non-null   int64
 2   WorkerId           6797 non-null   object
 3   annotatorAge       6771 non-null   float64
 4   annotatorGender    6793 non-null   object
 5   annotatorRace      6797 non-null   object
 6   distracted         6797 non-null   object
 7   draining           6797 non-null   object
 8   frequency          4052 non-null   float64
 9   importance         6649 non-null   float64
 10  logTimeSinceEvent  6797 non-null   float64
 11  mainEvent          6797 non-null   object
 12  mostSurprising     6797 non-null   object
 13  openness           6797 non-null   float64
 14  recAgnPairId       2549 non-null   object
 15  recImgPairId       5303 non-null   object
 16  similarity         2745 non-null   float64
 17  similarityReason   2745 non-null   object
 18  story              6797 non-null   object
 19  stressful          6797 non-null   float64
 20  summary            6797 non-null   object
 21  timeSinceEvent     6797 non-null   float64
 22  memType            6797 non-null   object
dtypes: float64(8), int64(1), object(14)
memory usage: 1.2+ MB

In [66]:
train_data.describe()

,WorkTimeInSeconds,annotatorAge,frequency,importance,logTimeSinceEvent,openness,similarity,stressful,timeSinceEvent
count,6797.000000,6771.000000,4052.000000,6649.000000,6797.000000,6797.000000,2745.000000,6797.000000,6.797000e+03
mean,2072.577166,33.513661,3.643633,3.958941,7.145193,0.554252,2.929326,2.161395,3.938160e+56
std,1670.981846,10.152089,1.029724,1.261159,13.854228,0.423053,1.446355,1.322928,8.718221e+57
min,173.000000,18.000000,1.000000,1.000000,1.945910,-1.000000,1.000000,1.000000,7.000000e+00
25%,919.000000,25.000000,3.000000,3.000000,3.555348,0.250000,2.000000,1.000000,3.500000e+01
50%,1524.000000,30.000000,4.000000,4.000000,4.499810,0.625000,3.000000,2.000000,9.000000e+01
75%,2632.000000,40.000000,4.000000,5.000000,5.010635,0.875000,4.000000,3.000000,1.500000e+02
max,10680.000000,55.000000,5.000000,5.000000,136.818082,1.000000,5.000000,5.000000,2.626263e+59

In [67]:
train_data.isnull().sum()

AssignmentId            0
WorkTimeInSeconds       0
WorkerId                0
annotatorAge           26
annotatorGender         4
annotatorRace           0
distracted              0
draining                0
frequency            2745
importance            148
logTimeSinceEvent       0
mainEvent               0
mostSurprising          0
openness                0
recAgnPairId         4248
recImgPairId         1494
similarity           4052
similarityReason     4052
story                   0
stressful               0
summary                 0
timeSinceEvent          0
memType                 0
dtype: int64

In [68]:
train_data.drop(columns=['recAgnPairId', 'recImgPairId', 'similarity', 'similarityReason'], axis=1, inplace=True)

In [69]:
train_data['annotatorAge'].isnull().value_counts()

False    6771
True       26
Name: annotatorAge, dtype: int64

In [212]:
# Filling the missing values
test_data['annotatorAge'].fillna(test_data['annotatorAge'].mean(), inplace=True)
test_data['frequency'].fillna(test_data['frequency'].mean(), inplace=True)
test_data['importance'].fillna(test_data['importance'].mean(), inplace=True)

In [71]:
train_data['annotatorGender'].isnull().value_counts()

False    6793
True        4
Name: annotatorGender, dtype: int64

In [213]:
test_data['annotatorGender'].value_counts()

KeyError: 'annotatorGender'

In [178]:
test_data['annotatorGender'].replace(to_replace =['woman', 'Woman', 'WOMAN'], 
                 value ="FEMALE", inplace=True)

In [179]:
test_data['annotatorGender'].replace(to_replace =['man', 'Man', 'MAN'], 
                 value ="MALE", inplace=True)

In [185]:
test_data['annotatorGender'].replace(to_replace =['transman', 'Transman', 'TRANSMAN', 'Transwoman', 'transwoman'], 
                 value ="TRANSGENDER", inplace=True)

In [190]:
test_data['annotatorGender'].replace(to_replace =['nonBinary', 'na', 'Na', 'Nonbinary', 'NONBINARY', 'other', 'OTHER'], 
                 value =np.nan, inplace=True)

In [191]:
test_data['annotatorGender'].replace(to_replace = np.nan, 
                 value = 'TRANSGENDER', inplace=True)

In [192]:
test_data['annotatorGender'].value_counts()

MALE           1028
FEMALE         1009
TRANSGENDER      20
Name: annotatorGender, dtype: int64

In [80]:
train_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6797 entries, 0 to 6796
Data columns (total 19 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   AssignmentId       6797 non-null   object
 1   WorkTimeInSeconds  6797 non-null   int64
 2   WorkerId           6797 non-null   object
 3   annotatorAge       6797 non-null   float64
 4   annotatorGender    6797 non-null   object
 5   annotatorRace      6797 non-null   object
 6   distracted         6797 non-null   object
 7   draining           6797 non-null   object
 8   frequency          6797 non-null   float64
 9   importance         6797 non-null   float64
 10  logTimeSinceEvent  6797 non-null   float64
 11  mainEvent          6797 non-null   object
 12  mostSurprising     6797 non-null   object
 13  openness           6797 non-null   float64
 14  story              6797 non-null   object
 15  stressful          6797 non-null   float64
 16  summary            6797 non-null   object
 17  timeSinceEvent     6797 non-null   float64
 18  memType            6797 non-null   object
dtypes: float64(7), int64(1), object(11)
memory usage: 1009.1+ KB

In [214]:
test_data['distracted'].value_counts()

1.0    1560
2.0     287
3.0     110
4.0      63
5.0      37
Name: distracted, dtype: int64

In [194]:
test_data['distracted'].replace(to_replace =['one'], 
                 value =1.0, inplace=True)

In [195]:
test_data['distracted'] = train_data['distracted'].astype(float)

In [215]:
test_data['draining'].value_counts()

1.0    920
2.0    407
3.0    331
4.0    266
5.0    133
Name: draining, dtype: int64

In [202]:
test_data['draining'].replace(to_replace =['one'], 
                 value =1.0, inplace=True)

In [203]:
test_data['draining'] = train_data['draining'].astype(float)

In [216]:
test_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2057 entries, 0 to 2056
Data columns (total 17 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   WorkTimeInSeconds               2057 non-null   int64
 1   annotatorAge                    2057 non-null   float64
 2   distracted                      2057 non-null   float64
 3   draining                        2057 non-null   float64
 4   frequency                       2057 non-null   int64
 5   importance                      2057 non-null   int64
 6   openness                        2057 non-null   float64
 7   stressful                       2057 non-null   float64
 8   timeSinceEvent                  2057 non-null   float64
 9   annotatorGender_MALE            2057 non-null   uint8
 10  annotatorGender_TRANSGENDER     2057 non-null   uint8
 11  annotatorRace_BLACK             2057 non-null   uint8
 12  annotatorRace_HISPANIC          2057 non-null   uint8
 13  annotatorRace_ISLANDER          2057 non-null   uint8
 14  annotatorRace_NATIVE AMERICANS  2057 non-null   uint8
 15  annotatorRace_OTHERS            2057 non-null   uint8
 16  annotatorRace_WHITE             2057 non-null   uint8
dtypes: float64(6), int64(3), uint8(8)
memory usage: 160.8 KB

In [217]:
test_data['annotatorRace'].value_counts()

KeyError: 'annotatorRace'

In [170]:
test_data['annotatorRace'].replace(to_replace =['white', 'White'], 
                 value ="WHITE", inplace=True)

In [171]:
test_data['annotatorRace'].replace(to_replace =['black', 'Black'], 
                 value ="BLACK", inplace=True)

In [172]:
test_data['annotatorRace'].replace(to_replace =['asian', 'Asian', 'middleEastern', 'Middleeastern', 'indian', 'Indian'],
                 value ="ASIAN", inplace=True)

In [173]:
test_data['annotatorRace'].replace(to_replace =['Na', 'na', 'Other', 'other'], 
                 value ="OTHERS", inplace=True)

In [174]:
test_data['annotatorRace'].replace(to_replace =['hisp', 'Hisp'], 
                 value ="HISPANIC", inplace=True)

In [175]:
test_data['annotatorRace'].replace(to_replace =['native', 'Native'], 
                 value ="NATIVE AMERICANS", inplace=True)

In [176]:
test_data['annotatorRace'].replace(to_replace =['islander', 'Islander'], 
                 value ="ISLANDER", inplace=True)

In [96]:
train_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6797 entries, 0 to 6796
Data columns (total 19 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   AssignmentId       6797 non-null   object
 1   WorkTimeInSeconds  6797 non-null   int64
 2   WorkerId           6797 non-null   object
 3   annotatorAge       6797 non-null   float64
 4   annotatorGender    6797 non-null   object
 5   annotatorRace      6797 non-null   object
 6   distracted         6797 non-null   float64
 7   draining           6797 non-null   float64
 8   frequency          6797 non-null   float64
 9   importance         6797 non-null   float64
 10  logTimeSinceEvent  6797 non-null   float64
 11  mainEvent          6797 non-null   object
 12  mostSurprising     6797 non-null   object
 13  openness           6797 non-null   float64
 14  story              6797 non-null   object
 15  stressful          6797 non-null   float64
 16  summary            6797 non-null   object
 17  timeSinceEvent     6797 non-null   float64
 18  memType            6797 non-null   object
dtypes: float64(9), int64(1), object(9)
memory usage: 1009.1+ KB

In [99]:
train_data.notnull().sum()

AssignmentId         6797
WorkTimeInSeconds    6797
WorkerId             6797
annotatorAge         6797
annotatorGender      6797
annotatorRace        6797
distracted           6797
draining             6797
frequency            6797
importance           6797
logTimeSinceEvent    6797
mainEvent            6797
mostSurprising       6797
openness             6797
story                6797
stressful            6797
summary              6797
timeSinceEvent       6797
memType              6797
dtype: int64

In [206]:
ds = test_data.isin([np.inf, -np.inf]) 
print(ds)

      WorkTimeInSeconds  annotatorAge  annotatorGender  annotatorRace  \
0                 False         False            False          False
1                 False         False            False          False
2                 False         False            False          False
3                 False         False            False          False
4                 False         False            False          False
...                 ...           ...              ...            ...
2052              False         False            False          False
2053              False         False            False          False
2054              False         False            False          False
2055              False         False            False          False
2056              False         False            False          False

      distracted  draining  frequency  importance  openness  stressful  \
0          False     False      False       False     False      False
1          False     False      False       False     False      False
2          False     False      False       False     False      False
3          False     False      False       False     False      False
4          False     False      False       False     False      False
...          ...       ...        ...         ...       ...        ...
2052       False     False      False       False     False      False
2053       False     False      False       False     False      False
2054       False     False      False       False     False      False
2055       False     False      False       False     False      False
2056       False     False      False       False     False      False

      timeSinceEvent
0              False
1              False
2              False
3              False
4              False
...              ...
2052           False
2053           False
2054           False
2055           False
2056           False

[2057 rows x 11 columns]

In [104]:
train_data.shape

(6797, 19)

In [105]:
train_data.dropna(inplace=True)
train_data.shape

(6797, 19)

In [132]:
train_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6797 entries, 0 to 6796
Data columns (total 18 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   WorkTimeInSeconds               6797 non-null   int64
 1   annotatorAge                    6797 non-null   float64
 2   distracted                      6797 non-null   float64
 3   draining                        6797 non-null   float64
 4   frequency                       6797 non-null   float64
 5   importance                      6797 non-null   float64
 6   openness                        6797 non-null   float64
 7   stressful                       6797 non-null   float64
 8   timeSinceEvent                  6797 non-null   float64
 9   memType                         6797 non-null   int64
 10  annotatorGender_MALE            6797 non-null   uint8
 11  annotatorGender_TRANSGENDER     6797 non-null   uint8
 12  annotatorRace_BLACK             6797 non-null   uint8
 13  annotatorRace_HISPANIC          6797 non-null   uint8
 14  annotatorRace_ISLANDER          6797 non-null   uint8
 15  annotatorRace_NATIVE AMERICANS  6797 non-null   uint8
 16  annotatorRace_OTHERS            6797 non-null   uint8
 17  annotatorRace_WHITE             6797 non-null   uint8
dtypes: float64(8), int64(2), uint8(8)
memory usage: 637.2 KB

In [122]:
train_data.memType.value_counts()

recalled    2760
imagined    2745
retold      1292
Name: memType, dtype: int64

In [126]:
memtype_map  = {'recalled':1,
              'imagined':2,
              'retold':3 }
train_data['memType'] = train_data.memType.map(memtype_map)
train_data.memType.value_counts()

1    2760
2    2745
3    1292
Name: memType, dtype: int64

In [218]:
pd.isnull(test_data).sum()

WorkTimeInSeconds                 0
annotatorAge                      0
distracted                        0
draining                          0
frequency                         0
importance                        0
openness                          0
stressful                         0
timeSinceEvent                    0
annotatorGender_MALE              0
annotatorGender_TRANSGENDER       0
annotatorRace_BLACK               0
annotatorRace_HISPANIC            0
annotatorRace_ISLANDER            0
annotatorRace_NATIVE AMERICANS    0
annotatorRace_OTHERS              0
annotatorRace_WHITE               0
dtype: int64

In [128]:
count = np.isinf(train_data).values.sum() 
print("It contains " + str(count) + " infinite values")

It contains 0 infinite values

In [131]:
# counting infinity in a particular column name 
c = np.isinf(train_data['memType']).values.sum() 
print("It contains " + str(c) + " infinite values") 
  
# printing column name where infinity is present 
print() 
print("printing column name where infinity is present") 
col_name = train_data.columns.to_series()[np.isinf(train_data).any()] 
print(col_name) 
  
# printing row index with infinity 
print() 
print("printing row index with infinity ") 
  
r = train_data.index[np.isinf(train_data).any(1)] 
print(r)

It contains 0 infinite values

printing column name where infinity is present
Series([], dtype: object)

printing row index with infinity
Int64Index([], dtype='int64')

In [111]:
numeric_data = train_data[['WorkTimeInSeconds', 'annotatorAge', 'distracted', 'draining', 'frequency', 'importance', 'logTimeSinceEvent', 'openness', 'stressful', 'timeSinceEvent']]

In [112]:
categorical_data = train_data.drop(numeric_data.columns, axis=1)
categorical_data.nunique()

AssignmentId       4797
WorkerId           2942
annotatorGender       3
annotatorRace         7
mainEvent          4537
mostSurprising     4673
story              4797
summary            2604
memType               3
dtype: int64

In [209]:
test_data = pd.get_dummies(test_data, columns= ['annotatorGender', 'annotatorRace'], drop_first=True)

In [210]:
test_data.head().T

                                   0      1            2     3    4
WorkTimeInSeconds               4679   1392         1321  1583  920
annotatorAge                      18     18           55    35   25
distracted                         1      1            1     1    1
draining                           3      5            1     1    5
frequency                       4679   1392         1321  1583  920
importance                      4679   1392         1321  1583  920
openness                        -0.5  0.125            1     1    1
stressful                          3      1            1     3    1
timeSinceEvent                    84    120  2.22222e+29   210  300
annotatorGender_MALE               1      0            0     0    1
annotatorGender_TRANSGENDER        0      0            0     0    0
annotatorRace_BLACK                0      0            0     0    0
annotatorRace_HISPANIC             1      0            0     0    0
annotatorRace_ISLANDER             0      0            0     0    0
annotatorRace_NATIVE AMERICANS     0      0            0     0    0
annotatorRace_OTHERS               0      0            0     0    0
annotatorRace_WHITE                0      0            1     1    1

In [211]:
test_data.isnull().sum()

WorkTimeInSeconds                 0
annotatorAge                      6
distracted                        0
draining                          0
frequency                         0
importance                        0
openness                          0
stressful                         0
timeSinceEvent                    0
annotatorGender_MALE              0
annotatorGender_TRANSGENDER       0
annotatorRace_BLACK               0
annotatorRace_HISPANIC            0
annotatorRace_ISLANDER            0
annotatorRace_NATIVE AMERICANS    0
annotatorRace_OTHERS              0
annotatorRace_WHITE               0
dtype: int64

In [117]:
train_data.drop(['AssignmentId','WorkerId','mainEvent', 'mostSurprising', 'story', 'summary', 'logTimeSinceEvent'], axis=1, inplace=True)
train_data.isnull().sum()

WorkTimeInSeconds                 0
annotatorAge                      0
distracted                        0
draining                          0
frequency                         0
importance                        0
openness                          0
stressful                         0
timeSinceEvent                    0
memType                           0
annotatorGender_MALE              0
annotatorGender_TRANSGENDER       0
annotatorRace_BLACK               0
annotatorRace_HISPANIC            0
annotatorRace_ISLANDER            0
annotatorRace_NATIVE AMERICANS    0
annotatorRace_OTHERS              0
annotatorRace_WHITE               0
dtype: int64

In [134]:
train_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6797 entries, 0 to 6796
Data columns (total 18 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   WorkTimeInSeconds               6797 non-null   int64
 1   annotatorAge                    6797 non-null   float64
 2   distracted                      6797 non-null   float64
 3   draining                        6797 non-null   float64
 4   frequency                       6797 non-null   float64
 5   importance                      6797 non-null   float64
 6   openness                        6797 non-null   float64
 7   stressful                       6797 non-null   float64
 8   timeSinceEvent                  6797 non-null   float64
 9   memType                         6797 non-null   int64
 10  annotatorGender_MALE            6797 non-null   uint8
 11  annotatorGender_TRANSGENDER     6797 non-null   uint8
 12  annotatorRace_BLACK             6797 non-null   uint8
 13  annotatorRace_HISPANIC          6797 non-null   uint8
 14  annotatorRace_ISLANDER          6797 non-null   uint8
 15  annotatorRace_NATIVE AMERICANS  6797 non-null   uint8
 16  annotatorRace_OTHERS            6797 non-null   uint8
 17  annotatorRace_WHITE             6797 non-null   uint8
dtypes: float64(8), int64(2), uint8(8)
memory usage: 637.2 KB

In [135]:
train_data.head().T

,0,1,2,3,4
WorkTimeInSeconds,1025.000,1987.000,1604.0,6369.000000,1083.0
annotatorAge,35.000,35.000,35.0,40.000000,30.0
distracted,1.000,1.000,1.0,1.000000,1.0
draining,3.000,5.000,1.0,1.000000,5.0
frequency,2.000,3.000,5.0,3.643633,3.0
importance,3.000,5.000,5.0,4.000000,5.0
openness,0.375,0.625,1.0,0.875000,1.0
stressful,3.000,2.000,1.0,1.000000,4.0
timeSinceEvent,60.000,150.000,120.0,240.000000,60.0
memType,3.000,1.000,1.0,2.000000,1.0
annotatorGender_MALE,1.000,0.000,1.0,0.000000,1.0
annotatorGender_TRANSGENDER,0.000,0.000,0.0,0.000000,0.0
annotatorRace_BLACK,0.000,0.000,0.0,0.000000,0.0
annotatorRace_HISPANIC,0.000,0.000,0.0,0.000000,0.0
annotatorRace_ISLANDER,0.000,0.000,0.0,0.000000,0.0
annotatorRace_NATIVE AMERICANS,0.000,0.000,0.0,0.000000,0.0
annotatorRace_OTHERS,0.000,0.000,0.0,0.000000,0.0
annotatorRace_WHITE,1.000,0.000,1.0,1.000000,1.0

In [140]:
train_data.describe()

,WorkTimeInSeconds,annotatorAge,distracted,draining,frequency,importance,openness,stressful,timeSinceEvent,memType,annotatorGender_MALE,annotatorGender_TRANSGENDER,annotatorRace_BLACK,annotatorRace_HISPANIC,annotatorRace_ISLANDER,annotatorRace_NATIVE AMERICANS,annotatorRace_OTHERS,annotatorRace_WHITE
count,6797.000000,6797.000000,6797.000000,6797.000000,6797.000000,6797.000000,6797.000000,6797.000000,6.797000e+03,6797.000000,6797.000000,6797.000000,6797.000000,6797.000000,6797.000000,6797.000000,6797.000000,6797.000000
mean,2072.577166,33.513661,1.416213,2.180521,3.643633,3.958941,0.554252,2.161395,3.938160e+56,1.784022,0.487568,0.009710,0.097837,0.056496,0.001324,0.005738,0.033103,0.739885
std,1670.981846,10.132651,0.893171,1.306225,0.795015,1.247351,0.423053,1.322928,8.718221e+57,0.741337,0.499882,0.098068,0.297116,0.230893,0.036367,0.075536,0.178918,0.438729
min,173.000000,18.000000,1.000000,1.000000,1.000000,1.000000,-1.000000,1.000000,7.000000e+00,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,919.000000,25.000000,1.000000,1.000000,3.643633,3.000000,0.250000,1.000000,3.500000e+01,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,1524.000000,30.000000,1.000000,2.000000,3.643633,4.000000,0.625000,2.000000,9.000000e+01,2.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000
75%,2632.000000,40.000000,1.000000,3.000000,4.000000,5.000000,0.875000,3.000000,1.500000e+02,2.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000
max,10680.000000,55.000000,5.000000,5.000000,5.000000,5.000000,1.000000,5.000000,2.626263e+59,3.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [141]:
train_data.round(decimals=2)
train_data.describe()

,WorkTimeInSeconds,annotatorAge,distracted,draining,frequency,importance,openness,stressful,timeSinceEvent,memType,annotatorGender_MALE,annotatorGender_TRANSGENDER,annotatorRace_BLACK,annotatorRace_HISPANIC,annotatorRace_ISLANDER,annotatorRace_NATIVE AMERICANS,annotatorRace_OTHERS,annotatorRace_WHITE
count,6797.000000,6797.000000,6797.000000,6797.000000,6797.000000,6797.000000,6797.000000,6797.000000,6.797000e+03,6797.000000,6797.000000,6797.000000,6797.000000,6797.000000,6797.000000,6797.000000,6797.000000,6797.000000
mean,2072.577166,33.513661,1.416213,2.180521,3.643633,3.958941,0.554252,2.161395,3.938160e+56,1.784022,0.487568,0.009710,0.097837,0.056496,0.001324,0.005738,0.033103,0.739885
std,1670.981846,10.132651,0.893171,1.306225,0.795015,1.247351,0.423053,1.322928,8.718221e+57,0.741337,0.499882,0.098068,0.297116,0.230893,0.036367,0.075536,0.178918,0.438729
min,173.000000,18.000000,1.000000,1.000000,1.000000,1.000000,-1.000000,1.000000,7.000000e+00,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,919.000000,25.000000,1.000000,1.000000,3.643633,3.000000,0.250000,1.000000,3.500000e+01,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,1524.000000,30.000000,1.000000,2.000000,3.643633,4.000000,0.625000,2.000000,9.000000e+01,2.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000
75%,2632.000000,40.000000,1.000000,3.000000,4.000000,5.000000,0.875000,3.000000,1.500000e+02,2.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000
max,10680.000000,55.000000,5.000000,5.000000,5.000000,5.000000,1.000000,5.000000,2.626263e+59,3.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [150]:
train_data =train_data[~train_data.isin([np.nan, np.inf, -np.inf]).any(1)]
train_data

,WorkTimeInSeconds,annotatorAge,distracted,draining,frequency,importance,openness,stressful,timeSinceEvent,memType,annotatorGender_MALE,annotatorGender_TRANSGENDER,annotatorRace_BLACK,annotatorRace_HISPANIC,annotatorRace_ISLANDER,annotatorRace_NATIVE AMERICANS,annotatorRace_OTHERS,annotatorRace_WHITE
0,1025,35.0,1.0,3.0,2.000000,3.0,0.375,3.0,60.0,3,1,0,0,0,0,0,0,1
1,1987,35.0,1.0,5.0,3.000000,5.0,0.625,2.0,150.0,1,0,0,0,0,0,0,0,0
2,1604,35.0,1.0,1.0,5.000000,5.0,1.000,1.0,120.0,1,1,0,0,0,0,0,0,1
3,6369,40.0,1.0,1.0,3.643633,4.0,0.875,1.0,240.0,2,0,0,0,0,0,0,0,1
4,1083,30.0,1.0,5.0,3.000000,5.0,1.000,4.0,60.0,1,1,0,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6792,1018,25.0,1.0,3.0,3.000000,5.0,0.500,5.0,30.0,1,1,0,0,0,0,0,0,1
6793,659,30.0,1.0,2.0,3.000000,5.0,0.125,3.0,120.0,1,0,0,0,0,0,0,0,1
6794,4213,30.0,1.0,2.0,3.643633,4.0,0.750,1.0,90.0,2,1,0,0,0,0,0,0,1
6795,3096,40.0,1.0,5.0,3.643633,5.0,1.000,3.0,30.0,2,1,0,0,0,0,0,0,1
6796,583,25.0,1.0,1.0,4.000000,4.0,0.500,1.0,60.0,3,1,0,0,0,0,0,0,1

In [151]:
X = train_data.drop('memType', axis=1)
y = train_data['memType']

In [152]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 9)
X_train.shape, y_train.shape, X_test.shape, y_test.shape

((5437, 17), (5437,), (1360, 17), (1360,))

In [229]:
from sklearn.feature_selection import SelectFromModel
from sklearn.metrics import accuracy_score, f1_score
from sklearn.ensemble import RandomForestClassifier
from sklearn.linear_model import LogisticRegression

In [230]:
lr = LogisticRegression()
lr.fit(X_train, y_train)

C:\Users\Dell\anaconda3\envs\ml_projects\lib\site-packages\sklearn\linear_model\_logistic.py:762: ConvergenceWarning: lbfgs failed to converge (status=2):
ABNORMAL_TERMINATION_IN_LNSRCH.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression()

In [231]:
lr.score(X_test, y_test)

0.4088235294117647

In [232]:
# Model evaluation for training set
train_target_pred = lr.predict(X_train)
rmse = (np.sqrt(mean_squared_error(y_train, train_target_pred)))
r2 = r2_score(y_train, train_target_pred)

# Examine the first 10 predicted output from the model
output = pd.DataFrame(y_train[0:10])
output['Predicted'] = train_target_pred[0:10]
output['Difference'] = output['Predicted'] - output['memType']
print(output, "\n")

print("Model training performance:")
print("---------------------------")
print('RMSE is {}'.format(rmse))
print('R2 score is {}'.format(r2))
print("\n")

      memType  Predicted  Difference
6413        1          1           0
3494        1          1           0
2123        1          1           0
2373        1          1           0
2036        2          1          -1
1191        1          1           0
2939        2          1          -1
3763        1          1           0
3559        3          1          -2
3818        3          1          -2

Model training performance:
---------------------------
RMSE is 1.0852904841481505
R2 score is -1.1212134578025408

In [161]:
test_data = pd.read_csv('https://raw.githubusercontent.com/dphi-official/Datasets/master/hippocorpus/test_set_label.csv')
test_data.head()

,AssignmentId,WorkTimeInSeconds,WorkerId,annotatorAge,annotatorGender,annotatorRace,distracted,draining,frequency,importance,...,mostSurprising,openness,recAgnPairId,recImgPairId,similarity,similarityReason,story,stressful,summary,timeSinceEvent
0,386PBUZZXGJZHALDEEVEHG6BE9EJLD,4679,K10CDHDP,18.0,Man,hisp,one,2.0,NaN,3.0,...,the doctor saw abnormal activity but the diagn...,-0.500,NaN,3VFJCI1K40L0T6QPBS776FNTU1ORGT,4.0,"I've had headaches in the past, have had to wa...",12 weeks ago I had to visit the hospital for m...,3.0,Went to the hospital to get a diagnoses. This ...,8.400000e+01
1,3C8HJ7UOP8G9N782WCZF5N9PDLQMZ8,1392,KNOE8VGT,18.0,woman,asian,one,one,3.0,1.0,...,I lied about my failures,0.125,3570Y55XZQ59Q72BPNZ1EBGQYSVYG3,NaN,NaN,NaN,"Well, four months ago, I felt extremely embarr...",1.0,"I talked with my aunt about my future, and I k...",1.200000e+02
2,3WR9XG3T64XAZ7DQ7D70S9ZQCVZ47T,1321,NZXIA1OJ,55.0,woman,White,one,one,5.0,5.0,...,She dedicated a song to me.,1.000,NaN,3WR9XG3T64XAZ7DQ7D70S9ZQCVZ47T,NaN,NaN,The event that just happened was my daughter's...,1.0,Her wedding dress was beautiful with lots of p...,2.222222e+29
3,3VD82FOHKRAKFHI4HEUKMTX9CYJOCT,1583,18G32XSD,35.0,woman,white,5.0,3.0,2.0,5.0,...,the students reacted compassionately.,1.000,3PMBY0YE28PH8UEYFPB2P32KZY4C9Q,NaN,NaN,NaN,When I was subbing at one of my regular school...,3.0,I found out my friend died from brain cancer w...,2.100000e+02
4,37TD41K0AIVZD9AXOVBT6Y7AR0OSC4,920,2DTJ9KGG,25.0,man,white,one,one,NaN,2.0,...,I had to raise my brother as if I were his fat...,1.000,NaN,3E1QT0TDFQV87SHO271A0A54SX6I89,1.0,I don't identify with the story since nothing ...,Growing up I wasnt much like all of my friend...,1.0,Basically growing up was never a best experien...,3.000000e+02

In [162]:
test_data.drop(columns=['recAgnPairId', 'recImgPairId', 'similarity', 'similarityReason'], axis=1, inplace=True)

In [164]:
test_data.drop(['AssignmentId','WorkerId','mainEvent', 'mostSurprising', 'story', 'summary', 'logTimeSinceEvent'], axis=1, inplace=True)
test_data.isnull().sum()

WorkTimeInSeconds      0
annotatorAge           6
annotatorGender        0
annotatorRace          0
distracted             0
draining               0
frequency            827
importance            39
openness               0
stressful              0
timeSinceEvent         0
dtype: int64

In [219]:
test_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2057 entries, 0 to 2056
Data columns (total 17 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   WorkTimeInSeconds               2057 non-null   int64
 1   annotatorAge                    2057 non-null   float64
 2   distracted                      2057 non-null   float64
 3   draining                        2057 non-null   float64
 4   frequency                       2057 non-null   int64
 5   importance                      2057 non-null   int64
 6   openness                        2057 non-null   float64
 7   stressful                       2057 non-null   float64
 8   timeSinceEvent                  2057 non-null   float64
 9   annotatorGender_MALE            2057 non-null   uint8
 10  annotatorGender_TRANSGENDER     2057 non-null   uint8
 11  annotatorRace_BLACK             2057 non-null   uint8
 12  annotatorRace_HISPANIC          2057 non-null   uint8
 13  annotatorRace_ISLANDER          2057 non-null   uint8
 14  annotatorRace_NATIVE AMERICANS  2057 non-null   uint8
 15  annotatorRace_OTHERS            2057 non-null   uint8
 16  annotatorRace_WHITE             2057 non-null   uint8
dtypes: float64(6), int64(3), uint8(8)
memory usage: 160.8 KB

In [165]:
test_data['frequency'] = test_data.fillna(test_data.frequency.mean())

In [167]:
test_data['importance'] = test_data.fillna(test_data.importance.mean())

In [168]:
test_data.isnull().sum()

WorkTimeInSeconds    0
annotatorAge         6
annotatorGender      0
annotatorRace        0
distracted           0
draining             0
frequency            0
importance           0
openness             0
stressful            0
timeSinceEvent       0
dtype: int64

In [223]:
test_data.round(decimals=2)
test_data.describe()

,WorkTimeInSeconds,annotatorAge,distracted,draining,frequency,importance,openness,stressful,timeSinceEvent,annotatorGender_MALE,annotatorGender_TRANSGENDER,annotatorRace_BLACK,annotatorRace_HISPANIC,annotatorRace_ISLANDER,annotatorRace_NATIVE AMERICANS,annotatorRace_OTHERS,annotatorRace_WHITE
count,2057.000000,2057.000000,2057.000000,2057.000000,2057.000000,2057.000000,2057.000000,2057.000000,2.057000e+03,2057.000000,2057.000000,2057.000000,2057.000000,2057.000000,2057.000000,2057.000000,2057.000000
mean,2104.507049,33.543150,1.410306,2.166262,2104.507049,2104.507049,0.564414,2.200292,1.345001e+28,0.499757,0.009723,0.105980,0.058824,0.001458,0.007778,0.032086,0.729217
std,1700.224396,10.189186,0.865380,1.296347,1700.224396,1700.224396,0.405962,1.347190,7.666655e+28,0.500122,0.098148,0.307886,0.235351,0.038171,0.087872,0.176270,0.444472
min,204.000000,18.000000,1.000000,1.000000,204.000000,204.000000,-0.875000,1.000000,7.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,921.000000,25.000000,1.000000,1.000000,921.000000,921.000000,0.250000,1.000000,3.500000e+01,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,1524.000000,30.000000,1.000000,2.000000,1524.000000,1524.000000,0.625000,2.000000,9.000000e+01,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000
75%,2749.000000,40.000000,1.000000,3.000000,2749.000000,2749.000000,0.875000,3.000000,1.500000e+02,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000
max,10529.000000,55.000000,5.000000,5.000000,10529.000000,10529.000000,1.000000,5.000000,7.777778e+29,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [233]:
test_rl_pred = lr.predict(test_data)
test_rl_pred

array([1, 1, 1, ..., 1, 1, 1], dtype=int64)

In [240]:
target = lr.predict(test_data)

res = pd.DataFrame(target) #target is nothing but the final predictions of your model on input features of your new unseen test data
res.index = test_data.index # its important for comparison. Here "test_new" is your new test dataset
res.columns = ['prediction']
res.to_csv("submission_sprint_20.csv")      # the csv file will be saved locally on the same location where this notebook is located.

In [241]:
pred_data = pd.read_csv('submission_sprint_20.csv')
pred_data.head()

   Unnamed: 0  prediction
0           0           1
1           1           1
2           2           1
3           3           1
4           4           1

In [242]:
memtype_map  = {1:'recalled',
              2:'imagined',
              3:'retold' }
res['prediction'] = res.prediction.map(memtype_map)
res.head()

  prediction
0   recalled
1   recalled
2   recalled
3   recalled
4   recalled

In [245]:
res.columns = ['prediction']
res.to_csv("submission_sprint_20.csv")