In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
#pd.set_option('display.height', 500)
#pd.set_option('display.max_rows', 500)
pd.set_option('display.max_column', 30)

In [3]:
# Train Data
train_data = pd.read_csv("https://raw.githubusercontent.com/dphi-official/Datasets/master/used_car_price/train_set_label.csv")

In [4]:
# Test data
test_data = pd.read_csv('https://raw.githubusercontent.com/dphi-official/Datasets/master/used_car_price/test_set_label.csv')

In [5]:
train_data.head(10)

,region,region_url,year,manufacturer,model_name,car_condition,#cylinders,fuel_type,odometer,title_status,transmission,vin,drive,size,car_type,car_color,image_url,car_description,county,state,latitude,longitude,price_of_car
0,san antonio,https://sanantonio.craigslist.org,2018.0,honda,accord ex-l,NaN,NaN,gas,NaN,clean,automatic,NaN,NaN,NaN,NaN,NaN,https://images.craigslist.org/00W0W_jPnECYbxWm...,"Price: $24,900 Miles: 31,269 Engine: 1.5L Turb...",NaN,tx,29.5407,-98.5521,24900
1,augusta,https://augusta.craigslist.org,2006.0,ford,f250 super duty diesel,excellent,NaN,diesel,169438.0,clean,automatic,NaN,rwd,full-size,truck,white,https://images.craigslist.org/00U0U_5ROtvUdu72...,2006 Ford F250 Lariat SuperDuty Crew Cab 4 doo...,NaN,ga,33.5161,-82.0785,0
2,hickory / lenoir,https://hickory.craigslist.org,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,nc,NaN,NaN,4500
3,fargo / moorhead,https://fargo.craigslist.org,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,mn,NaN,NaN,20000
4,los angeles,https://losangeles.craigslist.org,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,ca,NaN,NaN,0
5,asheville,https://asheville.craigslist.org,2011.0,toyota,prius,NaN,4 cylinders,hybrid,291960.0,salvage,automatic,JTDKN3DU5B1435523,fwd,NaN,other,NaN,https://images.craigslist.org/00k0k_5zDaJ7rhh5...,This Toyota Prius can be yours today!If you ha...,NaN,nc,35.3119,-81.0306,6500
6,los angeles,https://losangeles.craigslist.org,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,ca,NaN,NaN,8995
7,sacramento,https://sacramento.craigslist.org,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,ca,NaN,NaN,7000
8,orlando,https://orlando.craigslist.org,1961.0,NaN,morris minor 1000,good,4 cylinders,gas,18927.0,clean,manual,NaN,rwd,compact,sedan,custom,https://images.craigslist.org/00e0e_iSSDfrtowG...,Restored. Has towing hitch to pull behind mot...,NaN,fl,28.5525,-81.7574,12500
9,anchorage / mat-su,https://anchorage.craigslist.org,2013.0,dodge,journey r/t,like new,6 cylinders,gas,75513.0,clean,automatic,3C4PDDEG8DT601844,4wd,full-size,SUV,white,https://images.craigslist.org/00l0l_dvpp885wkz...,Frontier Auto Sales wants you to know we're ab...,NaN,ak,61.1663,-149.8580,15995

In [6]:
train_data.drop(['region_url', 'title_status', 'vin', 'drive', 'size', 'car_color', 'image_url', 'car_description', 'county', 'state', 'latitude', 'longitude', 'transmission'], axis=1, inplace=True)
test_data.drop(['region_url', 'title_status', 'vin', 'drive', 'size', 'car_color', 'image_url', 'car_description', 'county', 'state', 'latitude', 'longitude', 'transmission'], axis=1, inplace=True)

In [7]:
train_data.shape

(37500, 10)

In [8]:
train_data.isnull().sum()

region               0
year             15975
manufacturer     16896
model_name       16174
car_condition    26360
#cylinders       24668
fuel_type        16091
odometer         19929
car_type         21326
price_of_car         0
dtype: int64

In [9]:
test_data.isnull().sum()

region              0
year             5161
manufacturer     5485
model_name       5240
car_condition    8674
#cylinders       8144
fuel_type        5214
odometer         6504
car_type         7017
dtype: int64

In [10]:
train_data['year'].isnull().value_counts()

False    21525
True     15975
Name: year, dtype: int64

In [11]:
train_data['year'].mode()[0]

2017.0

In [12]:
train_data['year'].fillna(train_data['year'].mode()[0], inplace=True)
test_data['year'].fillna(test_data['year'].mode()[0], inplace=True)

In [13]:
train_data['manufacturer'].isnull().value_counts()

False    20604
True     16896
Name: manufacturer, dtype: int64

In [14]:
train_data['manufacturer'].mode()[0]

'ford'

In [15]:
train_data['manufacturer'].fillna(train_data['manufacturer'].mode()[0], inplace=True)
test_data['manufacturer'].fillna(test_data['manufacturer'].mode()[0], inplace=True)

In [16]:
train_data['model_name'].fillna(train_data['model_name'].mode()[0], inplace=True)
test_data['model_name'].fillna(test_data['model_name'].mode()[0], inplace=True)

In [17]:
train_data['car_condition'].fillna(train_data['car_condition'].mode()[0], inplace=True)
test_data['car_condition'].fillna(test_data['car_condition'].mode()[0], inplace=True)

In [18]:
train_data['#cylinders'].fillna(train_data['#cylinders'].mode()[0], inplace=True)
test_data['#cylinders'].fillna(test_data['#cylinders'].mode()[0], inplace=True)

In [19]:
train_data['fuel_type'].fillna(train_data['fuel_type'].mode()[0], inplace=True)
test_data['fuel_type'].fillna(test_data['fuel_type'].mode()[0], inplace=True)

In [20]:
train_data['odometer'].fillna(train_data['odometer'].mode()[0], inplace=True)
test_data['odometer'].fillna(test_data['odometer'].mode()[0], inplace=True)

In [21]:
train_data['car_type'].fillna(train_data['car_type'].mode()[0], inplace=True)
test_data['car_type'].fillna(test_data['car_type'].mode()[0], inplace=True)

In [22]:
train_data.head()

,region,year,manufacturer,model_name,car_condition,#cylinders,fuel_type,odometer,car_type,price_of_car
0,san antonio,2018.0,honda,accord ex-l,excellent,4 cylinders,gas,0.0,sedan,24900
1,augusta,2006.0,ford,f250 super duty diesel,excellent,4 cylinders,diesel,169438.0,truck,0
2,hickory / lenoir,2017.0,ford,f-150,excellent,4 cylinders,gas,0.0,sedan,4500
3,fargo / moorhead,2017.0,ford,f-150,excellent,4 cylinders,gas,0.0,sedan,20000
4,los angeles,2017.0,ford,f-150,excellent,4 cylinders,gas,0.0,sedan,0

In [23]:
test_data.head()

,region,year,manufacturer,model_name,car_condition,#cylinders,fuel_type,odometer,car_type
0,moses lake,2018.0,jeep,wrangler jk unlimited 4x4,excellent,4 cylinders,gas,44721.0,SUV
1,east oregon,1988.0,gmc,sierra,good,8 cylinders,gas,0.0,sedan
2,springfield,2017.0,ford,f-150,excellent,4 cylinders,gas,0.0,sedan
3,sacramento,2017.0,ford,f-150,excellent,4 cylinders,gas,0.0,sedan
4,north mississippi,2017.0,ford,f-150,excellent,4 cylinders,gas,0.0,sedan

### Conver the datatype of columns from float to int

In [24]:
train_data['year'] = train_data['year'].astype(int)
test_data['year'] = test_data['year'].astype(int)

train_data['odometer'] = train_data['odometer'].astype(int)
test_data['odometer'] = test_data['odometer'].astype(int)

In [25]:
train_data.shape

(37500, 10)

In [26]:
test_data.shape

(12500, 9)

### Working on the Region column

In [27]:
train_data['region'].value_counts()

los angeles              2027
SF bay area              1894
minneapolis / st paul    1676
sacramento               1575
san diego                1182
                         ...
ogden-clearfield            1
pullman / moscow            1
new haven                   1
clovis / portales           1
southwest TX                1
Name: region, Length: 238, dtype: int64

In [28]:
len(train_data['region'].unique())

238

### Apply Label Encoder

In [29]:
from sklearn.preprocessing import LabelEncoder

In [30]:
le = LabelEncoder()

train_data['region']= le.fit_transform(train_data['region'])
test_data['region']= le.fit_transform(test_data['region'])

In [31]:
train_data.head()

,region,year,manufacturer,model_name,car_condition,#cylinders,fuel_type,odometer,car_type,price_of_car
0,175,2018,honda,accord ex-l,excellent,4 cylinders,gas,0,sedan,24900
1,8,2006,ford,f250 super duty diesel,excellent,4 cylinders,diesel,169438,truck,0
2,67,2017,ford,f-150,excellent,4 cylinders,gas,0,sedan,4500
3,48,2017,ford,f-150,excellent,4 cylinders,gas,0,sedan,20000
4,100,2017,ford,f-150,excellent,4 cylinders,gas,0,sedan,0

In [32]:
train_data['manufacturer']= le.fit_transform(train_data['manufacturer'])
test_data['manufacturer']= le.fit_transform(test_data['manufacturer'])

train_data['model_name']= le.fit_transform(train_data['model_name'])
test_data['model_name']= le.fit_transform(test_data['model_name'])

train_data['car_condition']= le.fit_transform(train_data['car_condition'])
test_data['car_condition']= le.fit_transform(test_data['car_condition'])

train_data['#cylinders']= le.fit_transform(train_data['#cylinders'])
test_data['#cylinders']= le.fit_transform(test_data['#cylinders'])

train_data['fuel_type']= le.fit_transform(train_data['fuel_type'])
test_data['fuel_type']= le.fit_transform(test_data['fuel_type'])

train_data['odometer']= le.fit_transform(train_data['odometer'])
test_data['odometer']= le.fit_transform(test_data['odometer'])

train_data['car_type']= le.fit_transform(train_data['car_type'])
test_data['car_type']= le.fit_transform(test_data['car_type'])

In [33]:
train_data.head()

,region,year,manufacturer,model_name,car_condition,#cylinders,fuel_type,odometer,car_type,price_of_car
0,175,2018,16,1081,0,3,2,0,9,24900
1,8,2006,13,2567,0,3,0,10602,10,0
2,67,2017,13,2317,0,3,2,0,9,4500
3,48,2017,13,2317,0,3,2,0,9,20000
4,100,2017,13,2317,0,3,2,0,9,0

In [34]:
test_data.head()

,region,year,manufacturer,model_name,car_condition,#cylinders,fuel_type,odometer,car_type
0,122,2018,19,2592,0,3,2,1272,0
1,39,1988,13,2153,2,6,2,0,9
2,193,2017,12,1133,0,3,2,0,9
3,165,2017,12,1133,0,3,2,0,9
4,130,2017,12,1133,0,3,2,0,9

### Working with the odometer column

In [35]:
train_data.shape

(37500, 10)

In [36]:
train_data.odometer.value_counts()

0        20077
9945        48
8930        46
7763        41
10616       38
         ...
852          1
11089        1
9040         1
6967         1
8140         1
Name: odometer, Length: 11952, dtype: int64

### Drop the rows which contains the value as 0 in the field odometer

In [37]:
index_names = train_data[train_data['odometer'] == 0].index 
train_data.drop(index_names, inplace = True)
train_data.shape

(17423, 10)

In [38]:
index_names = test_data[test_data['odometer'] == 0].index 
test_data.drop(index_names, inplace = True)
test_data.shape

(5945, 9)

### Split the X and Y values

In [39]:
X = train_data.drop('price_of_car', axis=1)
y = train_data['price_of_car']

### Split the train and test dataset

In [40]:
from sklearn.model_selection import train_test_split

In [41]:
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.27,random_state=9)

### Build the model

In [42]:
from sklearn.preprocessing import *
from sklearn.linear_model import LinearRegression, BayesianRidge
from sklearn.tree import DecisionTreeRegressor
from sklearn.neighbors import KNeighborsRegressor
from sklearn.svm import SVR
from sklearn.ensemble import RandomForestRegressor
from sklearn.ensemble import VotingRegressor
from sklearn.metrics import *
from sklearn.ensemble import GradientBoostingRegressor

In [43]:
models = {'LR' : LinearRegression(),
'DT' : DecisionTreeRegressor(),
'KNN': KNeighborsRegressor(),
'SVR': SVR(),
'RF' : RandomForestRegressor(),
'GBR': GradientBoostingRegressor(random_state=9),
'BR' : BayesianRidge()}

In [44]:
def models_perfomance(X_train,X_test,y_train,y_test):
    results = {}
    for name, model in models.items():
        model.fit(X_train,y_train)
        rmse = mean_squared_error(y_test,model.predict(X_test), squared= False)
        results[name] = rmse
    
    return results

In [45]:
models_perfomance(X_train,X_test,y_train,y_test)

{'LR': 12644.677521412332,
 'DT': 13785.298507002015,
 'KNN': 12491.783373866047,
 'SVR': 14680.857924037935,
 'RF': 9071.947380235313,
 'GBR': 10557.611978104756,
 'BR': 12644.817325484264}

In [46]:
model = BayesianRidge()
model.fit(X_train, y_train)

BayesianRidge()

In [47]:
model.score(X_test, y_test)

0.2486871745725876

In [48]:
target = model.predict(test_data)
target

array([24026.15165825, 28263.03008094, 19199.87765703, ...,
       19488.0989705 , 19373.67463373, 34664.26161956])

In [49]:
len(target)

5945

In [50]:
test_data.shape

(5945, 9)

In [51]:
res = pd.DataFrame(target) #target is nothing but the final predictions of your model on input features of your new unseen test data
res.index = test_data.index # its important for comparison. Here "test_new" is your new test dataset
res.columns = ["prediction"]
res.to_csv("submission.csv",index=False) # the csv file will be saved locally on the same location where this notebook is located.

In [52]:
result = pd.read_csv('submission.csv')
result.shape

(5945, 1)